@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --Very-dark-blue: hsl(229, 31%, 21%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.desktop-navbar {
  display: none;
}

header {
  padding: 2rem 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*================== hamburger========= */
.hamburger {
  width: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  position: relative;
  z-index: 150;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease;
}

.hamburger.active .bar {
  background-color: white;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(12.5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-12.5px) rotate(-45deg);
}

.hamburger_login {
  display: flex;
  gap: 1rem;
}

/* ========================================================= */

/* ========== side bar =============================== */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* Sidebar width */
  width: 100%;
  height: 100%;
  background-color: var(--Very-dark-blue);
  color: white;
  padding: 15px;
  transition: right 0.3s ease-in-out;
  z-index: 50; /* Below the menu icon, above content */
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.5); /* Added box shadow */
  opacity: 0.9;
}

.sidebar ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.sidebar ul li {
  list-style: none;
  cursor: pointer;

  border-bottom: 1px solid var(--grayish-blue);
  padding: 1rem 3rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.sidebar ul li a:hover {
  opacity: 0.8;
}

.sidebar-login {
  padding: 1rem 5rem;
  font-size: 1.4rem;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sidebar.active {
  right: 0;
}

/* =================================================== */

login-btn {
  display: none;
}

/*================== hero section============================ */
.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

.hero-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.hero-subtitle {
  color: var(--grayish-blue);
  font-size: 1.1rem;
  line-height: 1.8;
}

.hero-get {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.hero-btn {
  padding: 0.7rem 0.6rem;
  color: white;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover {
  opacity: 0.87;
}

.chrome {
  background-color: var(--soft-blue);
}

.firefox {
  background-color: white;
  color: #000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Added box shadow */
}

/* ================================================= */

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.5rem;
}
/* =========== features */

.features-description {
  color: var(--grayish-blue);
  line-height: 1.8;
}

.bookmarking-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bookmarking-options p {
  padding: 1rem 0.6rem;
}

.bookmarking-options p:first-of-type {
  border-top: 1px var(--grayish-blue) solid;
  border-bottom: 1px var(--grayish-blue) solid;
}

.bookmarking-options p {
  border-bottom: 1px var(--grayish-blue) solid;
  color: var(--grayish-blue);
  cursor: pointer;
}

.bookmarking-options p.selected {
  color: black;
  border-bottom: 4px solid var(--soft-red);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.moreinfo-btn {
  display: none;
}

.oneclick-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
}

.download-extension {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.extension-section {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  border-radius: 10px;
}

.extension-section:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.browser-extension {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.extension-section img {
  width: 130px;
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

.add-extension {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--soft-blue);
}

/* accordion */
.accordion img {
  width: 20px;
  cursor: pointer;
}

.accordion img:hover {
  opacity: 0.8;
}

.accordion-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-section .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--grayish-blue);
  padding: 1rem 0;
}

.accordion-section .question:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
  line-height: 1.8;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  margin-bottom: 1rem;
}

.answer.show {
  max-height: 300px; /* Adjust this value based on the content size */
  opacity: 1;
}

.accordion-section .answer .question {
  border-bottom: none;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

@media screen and (min-width: 768px) {
  /* ============== nav bar ============================= */
  .desktop-navbar {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }

  .desktop-navbar ul {
    display: flex;
    gap: 1rem;
  }

  .desktop-navbar ul li {
    list-style: none;
  }

  .desktop-navbar ul li a {
    text-decoration: none;
    color: var(--grayish-blue);
    font-size: 17px;
    font-weight: 500;
  }

  .desktop-navbar ul li a:hover {
    opacity: 0.8;
  }

  .desktop-navbar ul {
    display: flex;
    gap: 3rem;
  }

  .sidebar {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .login-btn {
    display: inline;
  }

  .login-btn button {
    padding: 0.85rem 2rem;
    background-color: var(--soft-red);
    border: none;
    outline: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 17px;
    border-radius: 4px;
  }

  .login-btn button:hover {
    cursor: pointer;
    opacity: 0.88;
  }
  /* ============================================================= */

  /*============== hero section ==========================================  */
  .hero-section {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-img {
    flex: 1;
  }

  .hero-description {
    flex: 1;
    text-align: left;
    justify-content: center;
  }

  .hero-get {
    justify-content: start;
  }
  /* ================================================================ */

  /* =============features section ====================== */
  .bookmarking-options {
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }

  .bookmarking-options p:first-of-type {
    border-top: none;
  }

  .download-extension {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .download-extension section:nth-child(2) {
    margin-top: 3rem;
  }

  .download-extension section:nth-child(3) {
    margin-top: 7rem;
  }

  .oneclick-section {
    flex-direction: row-reverse;
    align-items: center;
  }

  .oneclick-image {
    flex: 1;
  }

  .oneclick-description {
    flex: 1;
  }

  /* accordion */
  .accordion-section {
    max-width: 600px;
    margin: 0 auto;
  }
}
